/* 在 normalize 的基础上, 进行公用的样式重置 */
a {
  color: #333;
}

/* lvha */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

a:hover {
  /* 主题色 */
  color: #e92322;
}

i {
  font-style: normal;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* 头部区域 */
.wjs_header {
  border-bottom: 1px solid #ccc;
}

.wjs_header .item {
  line-height: 40px;
  text-align: center;
  border-right: 1px solid #ccc;
}

.wjs_header .item:last-child {
  border-right: none;
}

.wjs_header .mobile {
  position: relative;
  display: block;
}

.wjs_header .mobile:hover .code {
  display: block;
}

.wjs_header .mobile .code {
  position: absolute;
  display: none;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #ccc;
  z-index: 999;
}

.wjs_header .btn {
  padding: 2px 12px;
}

.wjs_header .btn-link {
  color: #333;
  text-decoration: none;
}

.wjs_header .btn-link:hover {
  color: #e92322;
}

/* 导航区域 */
.wjs_nav {
  border-bottom: 1px solid #ccc;
}

.wjs_nav .navbar-nav>li>a {
  height: 80px;
  line-height: 50px;
}

.wjs_nav .navbar-nav>li>a:hover {
  border-bottom: 3px solid #e92322;
}

.wjs_nav .navbar-default .navbar-nav>.active>a,
.wjs_nav .navbar-default .navbar-nav>.active>a:hover,
.wjs_nav .navbar-default .navbar-nav>.active>a:focus {
  /* transparent 透明的 */
  background-color: transparent;

  /* 添加自己的样式 */
  border-bottom: 3px solid #e92322;
}

.wjs_nav .wjs_icon_logo {
  font-size: 50px;
  vertical-align: middle;
  color: #e92322;
}

.wjs_nav .wjs_icon_word {
  font-size: 36px;
  vertical-align: middle;
  color: #000;
}

.wjs_nav .navbar-brand {
  height: 80px;
  line-height: 50px;
}

.wjs_nav .navbar {
  margin: 0;
  border: none;
  background-color: #fff;
}

.wjs_nav .navbar-toggle {
  margin-top: 23px;
}

/* pc 轮播图样式, 定高, 图片居中, 只在大于640的屏幕中生效  */
@media screen and (min-width: 641px) {
  .carousel .item {
    height: 410px;
    /* 图片太长了, 溢出了父容器, 需要overflow:hidden 隐藏掉 */
    overflow: hidden;
  }

  .carousel .item img {
    height: 410px;
    max-width: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* 信息模块 */
.wjs_info {
  padding: 30px 0;
  border-bottom: 1px solid #ccc;
}

.wjs_info .wjs_icon_info {
  font-size: 30px;
}

.wjs_info .media {
  display: block;
  padding: 10px 0;
}

/* 预定模块 */
.wjs_book {
  padding: 30px 0;
  border-bottom: 1px solid #ccc;
}

.wjs_book .wjs_icon {
  font-size: 20px;
}

.wjs_book .book_now {
  color: #e92322;
  border-bottom: 1px dashed #e92322;
}

/* 产品模块 */
.wjs_product {
  padding: 30px 0;
  border-bottom: 1px solid #ccc;
  background-color: #F5F5F5;
}

.wjs_product .nav-tabs>li.active>a,
.wjs_product .nav-tabs>li.active>a:hover,
.wjs_product .nav-tabs>li.active>a:focus {
  background-color: transparent;
  /* 去掉 active a 的边框 */
  border: none;

  /* 添加自定义的下边框 */
  border-bottom: 3px solid #e92322;
}

.wjs_product .nav-tabs>li>a {
  /* 去掉默认添加的 1px 透明的边框 */
  border: none;
}

.wjs_product .nav>li>a:hover,
.wjs_product .nav>li>a:focus {
  background-color: transparent;
}


.wjs_product .ul-wrapper {
  overflow: hidden;
}

.wjs_product .nav-tabs {
  width: 2000px;
}

.wjs_product .product_item {
  height: 150px;
  background-color: pink;
  margin-top: 20px;
  position: relative;
}

.wjs_product .product_item.current {
  background-color: #e92322;
  color: #fff;
}


.wjs_product .product_item_right {
  float: right;
  width: 80px;
  height: 100%;
  position: relative;
  border-left: 1px dashed blue;
  text-align: center;
}

.wjs_product .product_item_right:before,
.wjs_product .product_item_right:after {
  content: '';
  width: 20px;
  height: 20px;
  background-color: #F5F5F5;
  border-radius: 50%;
  position: absolute;
  left: -10px;
}

.wjs_product .product_item_right:before {
  top: -10px;
}

.wjs_product .product_item_right:after {
  bottom: -10px;
}

.wjs_product .product_item_right p {
  font-size: 16px;
}

.wjs_product .product_item_right .percent {
  margin-top: 30px;
}

.wjs_product .product_item_right .percent b {
  font-size: 30px;
}



.wjs_product .product_item_left {
  overflow: hidden;
  height: 100%;
}

.wjs_product .product_item_left .title {
  font-size: 18px;
  text-align: center;
}

.wjs_product .product_item_left p {
  margin-bottom: 5px;
}

.wjs_product .product_item .wjs_icon_experience {
  position: absolute;
  left: 0;
  top: -8px;
  font-size: 40px;
}