/* 在 normalize 的基础上, 进行公用的样式重置 */
a {
  color: #333;
}

/* lvha */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

a:hover {
  /* 主题色 */
  color: #e92322;
}

i {
  font-style: normal;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* 头部区域 */
.wjs_header {
  border-bottom: 1px solid #ccc;
}

.wjs_header .item {
  line-height: 40px;
  text-align: center;
  border-right: 1px solid #ccc;
}

.wjs_header .item:last-child {
  border-right: none;
}

.wjs_header .mobile {
  position: relative;
  display: block;
}

.wjs_header .mobile:hover .code {
  display: block;
}

.wjs_header .mobile .code {
  position: absolute;
  display: none;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #ccc;
  z-index: 999;
}

.wjs_header .btn {
  padding: 2px 12px;
}

.wjs_header .btn-link {
  color: #333;
  text-decoration: none;
}

.wjs_header .btn-link:hover {
  color: #e92322;
}

/* 导航区域 */
.wjs_nav {
  border-bottom: 1px solid #ccc;
}

.wjs_nav .navbar-nav>li>a {
  height: 80px;
  line-height: 50px;
}

.wjs_nav .navbar-nav>li>a:hover {
  border-bottom: 3px solid #e92322;
}

.wjs_nav .navbar-default .navbar-nav>.active>a,
.wjs_nav .navbar-default .navbar-nav>.active>a:hover,
.wjs_nav .navbar-default .navbar-nav>.active>a:focus {
  /* transparent 透明的 */
  background-color: transparent;

  /* 添加自己的样式 */
  border-bottom: 3px solid #e92322;
}

.wjs_nav .wjs_icon_logo {
  font-size: 50px;
  vertical-align: middle;
  color: #e92322;
}

.wjs_nav .wjs_icon_word {
  font-size: 36px;
  vertical-align: middle;
  color: #000;
}

.wjs_nav .navbar-brand {
  height: 80px;
  line-height: 50px;
}

.wjs_nav .navbar {
  margin: 0;
  border: none;
  background-color: #fff;
}

.wjs_nav .navbar-toggle {
  margin-top: 23px;
}
/* pc 轮播图样式, 定高, 图片居中, 只在大于640的屏幕中生效  */
@media screen and (min-width: 641px) {
  .carousel .item {
    height: 410px;
    /* 图片太长了, 溢出了父容器, 需要overflow:hidden 隐藏掉 */
    overflow: hidden;
  }
  .carousel .item img {
    height: 410px;
    max-width: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}